<div class="text-center">
  <h2>{{book.name}}</h2>
  <p>{{book.author}}</p>
  <p></p>
  <h4>Reviews: </h4>
  <p>
    {{#each book.review as |review| }}


    {{/each}}
  </p>  
  <p>
    <button class="btn btn-primary" id="review-button">Add a review!</button>
  </p>
</div>


<script src="./js/book.js"></script>